*.anim                   binary
*.asset                  binary
*.bytes                  binary
*.controller             binary
*.cubemap                binary
*.flare                  binary
*.fontsettings           binary
*.giparams               binary
*.guiskin                binary
*.mask                   binary
*.mat                    binary
*.mixer                  binary
*.overrideController     binary
*.physicMaterial         binary
*.physicsMaterial2D      binary
*.prefab                 binary
*.renderTexture          binary
*.shadervariants         binary
*.unity                  binary
